{% extends 'app/base.html'%}
{% load static %}

{% block contenido%}
<table class="table table-striped table-hover table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">imagen</th>
      </tr>
    </thead>
    <tbody>
      {% for m in menus%}
      <tr>
        <th scope="row">{{m.id}}</th>
        <td>{{m.nombre | capfirst}}</td>
        <td>{{m.ingredientes | title}}</td>
        {% if m.imagen %}
        <td><img src="{{ m.imagen.url }}" alt=""></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}